h1{
    color: red;
    text-align: center;
}

.heading1{
    background-position: center;
    text-align: center;
}
div{
    text-align: center;/*đường phân cách giữa keo*/
    
}
#keo{
    width: 640px;
    height: 400px;
    text-align: center;
}
#text{
    width: 640px;
    height: 360px;
}

#searchInput {
    width: 300px;
    padding: 15px; 
    font-size: 18px; 
    border-radius: 5px; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
}
#caculatorInput {
    width: 300px;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.maytinh {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 48%;
}

#caculatorInput {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}
